.career_p{
    font-size: 20px; 
}
.poster {
    width: 450px;
    height: 550px;
    margin-left: 5%;
}
.images {
    width:500px;
    height:400px;
    margin-left: 41px;
}
h3 {
    margin-left: 3%;
}
.wooimages {
    width: 600px;
    height: 800px;
    margin-left: 4%;
}