@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.th, .td
{margin:0;padding:0;font-size:15px;font-family:"맑은 고딕", sans-serif;color:#666;line-height:1.5;}
ul,li {list-style:none}
table{border-collapse:collapse; border-spacing:0}
address{font-style:normal;font-weight:normal}

footer {
	width: 100%;
    height: 350px;
    position: relative;
	overflow: hidden;
    
}
#footer_about {
	color: #ccc;
    font-size:15px;font-family:"맑은 고딕", sans-serif;color:#666;line-height:1.5;
    margin-left: 26%;
    width: 1200px;
    height: 200px;
}

#footer_about div {
	margin-right: 10px;
    font-size:15px;font-family:"맑은 고딕", sans-serif;color:#666;line-height:1.5;
}

#footer_about #table1 {
    width: 25%;
    border: hidden;
}

#table1 td {
	color: #ccc;
	height: 90px;
	font-size: 17px;
    border: hidden;
}

#footer_about #table2 {
	margin-left: 150px;
	width: 550px;
    border: hidden;
	color: #ccc;
}

#table2 td {
	color: white;
	height: 40px;
	font-size: 17px;
    border: hidden;
}

#footer_about .th {
	height: 80px;
	font-size: 25px;
	font-weight: 800;
}

#footer_about_ul {
	width: 100px;
	display: inline;
}

#footer_about_logo{
	width: 150px;
	height: 50px;
    font-family: 'establishRetrosansOTF';
    
}

#footer_about_logo a {
    color: white;
    font-size: 25px;
}

#footer_copyright {
	height: 50px;
	margin-top: 37px;
    font-size:15px;font-family:"맑은 고딕", sans-serif;color:#666;line-height:1.5;
}

#footer_copyright address {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #ccc;
}

#footer_copyright p {
	width: 100%;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	color: #ccc;
}

#footer p {
	font-size: 12px;
}
