
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Serif+KR:wght@500&display=swap');
h1{
  color : Black;
  margin-left: 20px;
}

.division{
  font-family: "Noto+Serif+KR:wght@500";
  margin-left: 20px ;
  font-size: 20px;
  border: 2pt groove rgb(38, 141, 4);
}
#pledge{
  text-align: center;
}
p{
  margin-left: 20px;
}
button {
  font-family: "sans-serif";
  background-color: rgb(124, 233, 124);
  color: white ;
  padding: 5px 10px;
  margin-top: 20px; 
  margin-left: 20px;
  font-size: 24px;
  cursor: pointer;
  transition-duration: 1s;
  border-radius: 5px;
  border-width: 1px;
}
button:hover {
  background-color: #2DB400;
  color: Black;
}