img{
  width:100px;
  height:100px;
}

fieldset {
  width: 85%;
  margin-left: 50px;
  font-size: 1.5em;
}
.ssafy_logo{
  width: 200px;
  height: 150px;
  margin-bottom: 0;
}
.ssafy_img{
  width: 850px;
  height: 500px;
  margin-left: 4%;
  box-shadow: 5px 5px 5px 5px gray;
}
.ssafy_img:hover {
  box-shadow: 5px 5px 5px 5px gray;
  width: 900px;
  height: 550px;
}
h2{
  color: lightgray;
  margin-left: 5%;
  margin-top: 0%;
}
.field_img{
  width: 500px;
  height: 600px;
  margin: 30px;
  box-shadow: 5px 5px 5px 5px gray;
}
.field_img:hover {
  box-shadow: 5px 5px 5px 5px gray;
  width: 550px;
  height: 650px;
}
button {
  font-family: "sans-serif";
  background-color: rgb(124, 233, 124);
  color: white ;
  padding: 5px 10px;
  margin-top: 20px; 
  margin-left: 20px;
  font-size: 24px;
  cursor: pointer;
  transition-duration: 1s;
  border-radius: 5px;
  border-width: 1px;
}
button:hover {
  background-color: #2DB400;
  color: Black;
}